*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.page2{
  background-color: #0F6292;
}

.page3{
  background-color: #0F6292;
}

.page4{
  background-color: #0F6292;
}




.interface{
  height:50vh;
}

section{
  height:50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


div.gallery {
  margin: 100px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  transition: 0.5s;
}

div.gallery:hover {
  transform: scale(1.1); 
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

body {
  height: 120vh;
  width: 100%;
}

/* scrollbar */

body::-webkit-scrollbar {
  background-color: transparent;
  width: .625rem;
}

body::-webkit-scrollbar-track {
  background-color: white;         
}

body::-webkit-scrollbar-thumb {
  background-color: black;   
  border-radius: 1.25rem; 
}



/* nav */


.page1 {
  position: fixed;
  width: 100%;
  background-color: rgb(39, 13, 129);
  min-height: 2rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 50%;
}

.menunav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  text-transform: uppercase;
}

.nav-item {
  transition: .5s ease;
}

.nav-item:hover {
  transform: scale(2);
  color: #646a74;
}

/* barra de pesquisa */

.barra_de_pesquisa {
  height: 3rem;
  width: 25rem;

  border-radius: 2.5rem;
  background-color: #EEE2DE;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.13rem;
  margin-left: 60rem;
}

.texto_da_pesquisa {
  outline: none;
  border: 0;
  background: none;
  font-size: 1.125rem;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.icone {
  width: 4.375rem;
  height: 2.188rem;
}

.texto_da_pesquisa::-webkit-input-placeholder{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

